body, html{
	height: 100%;
	width: 100%;
}

body{
	color: #000 ;
	display: flex;
	flex-direction: column;
	background-image: url(../images/machina.jpg);
  	background-size: cover;	
}
#ContentTest{
	background-color: #d1c6c2; padding: 1em 0.5em 2em 0.5em;
	opacity: 0.8;
}

/* --------------  Fonts and Colors ----------------- */


h1{
	color:#47291f;
	font-size: 30px;
	border-bottom: solid 1px #b56719;
}

h3{
	color : #243259;
}

/* --------------- Blocs Page ---------------------- */

#contentPage{
	width: 100%;
	height: 100%;
}

.bloc-form{
	padding: 1em 0.5em;
	border-top: solid 1px #c9c9c9;
	border-bottom: solid 1px #c9c9c9;
}

.row > button{
	margin: 0 0.5em;
}




/* -----------------  Specific to Login Page --------- */
#login-Page-101{
	justify-content: center; 
	align-items: center; 
	height:100%; 
	width: 100%; flex: 1; 
	display: flex; 
	background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); 
}
h3{padding-bottom: 0.5em;border-bottom: solid 1px #d1d1d1;}
.form101-line{ display: flex;}
img{ margin: 0 1em;}
#centered-bloc{
	padding: 1em;
	vertical-align: middle;
	margin-top: -1em;
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 1.1rem;
	outline: 0;
	max-width: 450px;
}